<nav id="nav" class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Inicio</a>
          <a class="nav-link" href="#servicios">Servicios</a>
          <a class="nav-link" href="#promo">Promociones</a>
          <a class="nav-link" href="#nosotros">Nosotros</a>
          <a class="nav-link" href="#contacto">Contáctenos</a>
        </div>
      </div>
    </div>
  </nav>
