<div id="wrapper" class="container text-left">
    <div class="row">
      <div class="col">
        <div>
            <p>18555</p>
            <p>Proveedores registados</p>
        </div>
        <div>
            <p>18555</p>
            <p>Solicitantes registados</p>
        </div>
        <div>
            <p>Reseñas de Vive Facil -></p>
        </div>
      </div>
      <div class="col">
        <div>
            <p>Términos y condiciones</p>
        </div>
        <div>
            <p>Teléfono de contacto</p>
        </div>
        <div>
            <p>Mapa de Google Maps</p>
        </div>
      </div>
      <div class="col">
        <div>
            <p>Encuéntranos en</p>
        </div>
        <div>
            <p>App Store - Google Play</p>
        </div>
        <div>
            <p>Redes Sociales</p>
        </div>

      </div>
    </div>
  </div>