<div class="row row-cols-2 row-cols-md-3 g-1" style="max-width: 100%;">
    <div class="col ">
      <div class="card">
        <div class="col-md-4">
            <img width="100%" src="https://www.pythonanywhere.com/user/tomesoft1/files/home/tomesoft1/TomeSoft_1/media/promociones/caja.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="card-body">
          <h5 class="card-title">Automotriz</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col ">
        <div class="card">
          <div class="col-md-4">
              <img width="100%" src="https://www.pythonanywhere.com/user/tomesoft1/files/home/tomesoft1/TomeSoft_1/media/promociones/caja.jpg" class="img-fluid rounded-start" alt="...">
            </div>
          <div class="card-body">
            <h5 class="card-title">Hogar</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="card">
          <div class="col-md-4">
              <img width="100%" src="https://www.pythonanywhere.com/user/tomesoft1/files/home/tomesoft1/TomeSoft_1/media/promociones/caja.jpg" class="img-fluid rounded-start" alt="...">
            </div>
          <div class="card-body">
            <h5 class="card-title">Oficina</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
  </div>
